angular/dist
angular/tmp
angular/bazel-out
angular/out-tsc
angular/node_modules
angular/npm-debug.log
angular/yarn-error.log
angular/.idea/
angular/.project
angular/.classpath
angular/.c9/
angular/*.launch
angular/.settings/
angular/*.sublime-workspace
angular/.vscode/*
angular/!.vscode/settings.json
angular/!.vscode/tasks.json
angular/!.vscode/launch.json
angular/!.vscode/extensions.json
angular/.history/*
angular/.angular/cache
angular/.sass-cache/
angular/connect.lock
angular/coverage
angular/libpeerconnection.log
angular/testem.log
angular/typings
angular/.DS_Store
angular/Thumbs.db

vue/
vue/dist/
vue/.astro/
vue/node_modules/
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*
vue/pnpm-debug.log*
vue/.env
vue/.env.production
vue/.DS_Store
vue/.idea/


react/dist/
react/.astro/
react/node_modules/
react/npm-debug.log*
react/yarn-debug.log*
react/yarn-error.log*
react/pnpm-debug.log*
react/.env
react/.env.production
react/.DS_Store
react/.idea/

**/.DS_Store